<!--<p>Hello <%#= @resource.email %>!</p>-->

<!--<p>Someone has requested a link to change your password. You can do this through the link below.</p>-->

<!--<p><%#= link_to 'Change my password', "#{message['redirect-url']}?reset_password_token=#{@token}" %></p>-->

<!--<p>If you didn't request this, please ignore this email.</p>-->
<!--<p>Your password won't change until you access the link above and create a new one.</p>-->
<style type="text/css">
  body {
      background-color: rebeccapurple;
      font-family: Roboto;
  }

  .title {
      font-weight: bold;
      font-size: 50px;
      color: white;
      text-align: center;
  }

  h1, h2, p {
      font-weight: bold;
      color: white;
      text-align: center;
  }

  a {
      text-underline: none;
      color: black;
      font-weight: bold;
      font-family: Roboto;
  }


</style>
<!-- move the above styles into your custom stylesheet -->

<spacer size="16"></spacer>

<wrapper class="header">
  <container>
    <row class="collapse">
      <columns small="6" valign="middle">
      </columns>
      <columns small="6" valign="middle">
        <p class="text-center title">GAMESPOT</p>
      </columns>
    </row>
  </container>
</wrapper>

<container>

  <spacer size="16"></spacer>

  <row>
    <columns>
      <h1>Olá, </h1>
      <h2>Alguém solicitou uma troca de senha para a sua conta.</h2>

      <callout class="primary">
        <p>Para realizar a troca, cliquei aqui: <%= link_to 'Trocar senha', "#{message['redirect-url']}?reset_password_token=#{@token}" %></p>
      </callout>
    </columns>
  </row>
</container>